{% extends 'form.html' %}

{% block form %}
<br>
<br>

<div class="modal-dialog modal-md">
  <div class="modal-content {% if request.GET.modal != '1'%} modal-margin shadow {%endif%}">
    <div class="modal-body">
    {% if request.GET.modal == '1'%}
        <button type="button" class="close" data-dismiss="modal">x</button>
    {% endif %}
       <div class="container-fluid bg-gray" id="accordion-style-1">
           <div class="container">
                <section>
                   <div class="row" align="center">
                        <div class="col-12 mx-auto">
                           <div class="accordion" id="accordionExample">
                                <form method="post">
                                            {% csrf_token %}
                                    <div class="container" style="z-index:-1;">
                                        <h6 id="text" style="margin-bottom:10px;" align="left">We have sent you an email with a link to reset your password.</h6><span id="text"><i class="fas fa-envelope fa-5x"></i></span><br><h6 id="text" style="text-align:left;margin-top:10px;">Please check your inbox and continue with the recovery process</h6>
            
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}