
{% extends 'form.html' %}

{% block form %}
<br>

<div class="modal-dialog modal-md">
  <div class="modal-content {% if request.GET.modal != '1'%} modal-margin shadow {%endif%}">
    <div class="modal-body">
    {% if request.GET.modal == '1'%}
        <button type="button" class="close" data-dismiss="modal">x</button>
    {% endif %}
       <div class="container-fluid bg-gray" id="accordion-style-1">
           <div class="container">
                <section>
                   <div class="row" align="center">
                        <div class="col-12 mx-auto">
                           <div class="accordion" id="accordionExample">
                                <form method="post">
                                            {% csrf_token %}
                                    <div class="container" style="z-index:-1;">
                                        <h3 id="text" style="margin-bottom:25px;">Your password is correctly reset</h3>
                                        <div class="col-sm-12">
                                                <div class="col-sm-9">
                                                    <a class="btn btn-lg btn-primary btn-block" style="text-decoration:none;color:white;" id="botton" href="{% url 'login' %}">Login</a>
                                                </div>
                                         </div> 
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock form %}