{% extends 'base.html' %}

{% block content %}
<br>
<br>
<br>
<br>
{% if validlink %}

<h1>New Password</h1>

<form method="post">
{% csrf_token %}

{{ form.new_password1.errors }}
<label for="id_new_password1">New Password:</label>
{{ form.new_password1 }}

{{ form.new_password2.errors }}
<label for="id_new_password2">Confirm password:</label>{{ form.new_password2 }}
<input type="submit" value="Cambiar mi contraseña" />
</form>

{% else %}

<h1 class="text-center">INVALID LINK: THIS LINK HAS ALREADY BEEN USED</h1>

{% endif %}

{% endblock %}