{% extends 'form.html' %}

{% block form %}
<br>
{% if validlink %}
<div class="modal-dialog modal-md" {% if request.GET.modal == '1'%} style="z-index:1500;" {% endif %}>
  <div class="modal-content {% if request.GET.modal != '1'%} shadow modal-margin {%endif%} ">
    <div class="modal-body">
    {% if request.GET.modal == '1'%}
        <button type="button" class="close" data-dismiss="modal">x</button>
    {% endif %}
       <div class="container-fluid bg-gray" id="accordion-style-1">
         <div class="container">
            <section>
              <div class="row" align="center">
                <div class="col-12 mx-auto">
                  <div class="accordion" id="accordionExample">
                    <div class="container" style="z-index:-1;">
                      <h3 id="text" style="margin-bottom:25px;">Change Password</h3>
                      <div class="omb_login">
                        <form method="post">
                        {% csrf_token %}
                          <div class="col-xs-12 col-sm-12"> 

                            <div class="wrap-input100 validate-input">
                              <input for="id_new_password1" class="input100" type="password" name="new_password1" required="" id="id_new_password1">
                              <span class="focus-input100" data-placeholder="New Password"></span>
                            </div>

                            <div class="wrap-input100 validate-input">
                              <input for="id_new_password2" class="input100" type="password" name="new_password2" required="" id="id_new_password2">
                              <span class="focus-input100" data-placeholder="Confirm password"></span>
                            </div>
                            
                            {% for field in passwordForm %} 
                                {% if field.errors %} 
                                <div class="alert-form alert-warning alert-dismissible fade show" role="alert">
                                  <span>{{ field.errors }}</span>
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                {% endif %}
                            {% endfor %}
                            
                          </div>
                          <div class="col-sm-12">
                              <div class="col-sm-8">
                                  <button class="btn btn-primary btn-block" type="submit" id="botton">Change password</button>
                              </div>
                          </div>
                        </form>     
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
    </div>
  </div>
</div>    

{% else %}

<h1 class="text-center">INVALID LINK: THIS LINK HAS ALREADY BEEN USED</h1>

{% endif %}

{% endblock form %}