section{
  padding: 15px 0;
}
#text{
    color:#007bff;
}
#accordion-style-1 h3,
#accordion-style-1 a{
    color:#007bff;
}
#accordion-style-1 .btn-link {
    font-weight: 400;
    color: #007bff;
    background-color: transparent;
    text-decoration: none !important;
    font-size: 16px;
    font-weight: bold;
    padding-left: 25px;
}

#accordion-style-1 .card-body {
    border-top: 2px solid #008de4;
    text-align: justify;
}

#accordion-style-1 .card-header .btn.collapsed #main{
  display:none;
}

#accordion-style-1 .card-header .btn #main{
  background: #008de4;
    padding: 7px 6px;
    color: #ffffff;
    width: 35px;
    height: 41px;
    position: absolute;
    left: -1px;
    top: 10px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  display:block;
}

#help{
    background: #007bff;
    cursor: pointer;
    padding: 8px 8px;
    color: #ffffff;
    position: absolute;
    width: 120px;
    height: 38px;
    right: 215px;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.fullscreen-modal .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .fullscreen-modal .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .fullscreen-modal .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .fullscreen-modal .modal-dialog {
     width: 1170px;
  }
}

