
.card {
  min-height: 200px;
}
.prize-card {
  font-size: 1.15rem;
}
.explorer-link {
  color:black;
  text-decoration: none;
  border-bottom: 1px dotted black;
  overflow-wrap: break-word;
}

.wrap {
  overflow-wrap: break-word;
}

#table {
  background-color:#008de4;
  color:white
}

.modal-margin {
  margin-top: 70px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.btn-raffle{
  width: 150px;
}
.btn-primary {
  color: #fff;
  background-color: #0e77dd;
  border-color: #007bff;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ebeeee !important;
    /*font-size: 400px !important;*/
}

.description{
    width: 40%;
    overflow: hidden;
}

.content {
  margin-top:150px !important;
}
/*footer*/
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#343a40; min-height:100%; padding:10px 0px 25px 0px ;margin-top:100PX;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
  list-style-type:none;
  padding:0px;
  display:table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}


/*
    Note: It is best to use a less version of this file ( see http://css2less.cc
    For the media queries use @screen-sm-min instead of 768px.
    For .omb_spanOr use @body-bg instead of white.
*/

@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
  line-height: 300%;
}
  
.omb_login .omb_socialButtons a {
  color: white; // In yourUse @body-bg 
  opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
  opacity:1;      
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
  position: relative;
  font-size: 1.5em;
  color: #aaa;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
  display: block;
  position: absolute;
  left: 50%;
  top: -0.6em;
  margin-left: -1.5em;
  background-color: white;
  width: 3em;
  text-align: center;
}     

.omb_login .omb_loginForm .input-group.i {
  width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}

  
@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
    margin-top:10px;
  }   
}


.omb_login .omb_loginOr {
  position: relative;
  font-size: 1.5em;
  color: #aaa;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
  display: block;
  position: absolute;
  left: 50%;
  top: -0.6em;
  margin-left: -1.5em;
  background-color: white;
  width: 6em;
  text-align: center;
}     

.omb_login .omb_loginForm .input-group.i {
  width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}

  
@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
    margin-top:10px;
  }   
}

/*.dropdown-item { color: white; }*/

.dropdown-item:focus, .dropdown-item:hover {
  color: white;
  background-color: #0e77dd;
}

.blue-link:hover {
  color: #0e77dd !important;
  text-decoration: none !important;
}

a.blue-link {
  transition: color 0.3s ease-in-out;
}

div.mdr_navbar {
  /*background-color: rgb(0, 141, 228);*/
}

table {
  width: 70% !important;
}

/* Tooltip container */
.tooltipaba {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.bg {
  background-color: white !important;
  color: black !important;
}

.bg-dark {
  background-color: #343a40 !important;
  color: white !important;
}

.dropdown-item {
  color: white !important; 
}

/* Tooltip text */
.tooltipaba .tooltiptext {
    visibility: hidden;
    width: 500px;
    background-color: white;
    /*border: gray solid 1px;*/
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;

}
.tooltipimg {
  border: gray solid 1px;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltipaba:hover .tooltiptext {
    visibility: visible;
    position: all;
    top: 100%;
    left: -50%; 
}

.navbar {
    z-index: -1;
    background-color: #656565;
}

.shadow {
  -webkit-box-shadow: 2px 10px 19px -3px rgba(0,0,0,0.23);
  -moz-box-shadow: 2px 10px 19px -3px rgba(0,0,0,0.23);
  box-shadow: 2px 10px 19px -3px rgba(0,0,0,0.23);
}

div.item {
  background-color: white;
}

header {
  /*text-align: center;*/
  z-index: 1000;
  background-color: #656565;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  font-family: 'Montserrat:400,800i', sans-serif;
}

header.header-up{
  top: -80px;
}

.header-up img {
  margin-top: -14px !important;
}

header .brand {
  width: 100%;
  height: 80px;
  line-height: 50px;
  display: inline-block;
  cursor: pointer;
}

header .brand .logo {
  cursor: pointer;
  width: 100%;
  /*height: 20px;*/
  display: inline-block;
  vertical-align: middle;
}


.percent {
    line-height: 110px;
    z-index: 2;
    font-size: 18px
}

/*.percent:after {
    content: 'days';
    margin-left: .1em;
    font-size: .8em
}*/
.chart, .percent {
    display: inline-block
}

.chart {
    position: relative;
    width: 110px;
    height: 110px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center
}

.chart canvas {
    position: absolute;
    top: 0;
    left: 0
}

.angular .chart {
    margin-top: 0
}


.banner-container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 98%;
  margin: 0 auto;
}


.wrap-table100 {
  width: 80%;
  border-radius: 10px;
  overflow: hidden;
}

.table {
  width: 98%;
  display: table;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .table {
    display: block;
  }
}

.rowtable {
  display: table-row;
  background: #fff;
}

.rowtable.header {
  color: #ffffff;
  background: #008de4;
}

@media screen and (max-width: 768px) {
  .rowtable {
    display: block;
  }

  .rowtable.header {
    padding: 0;
    height: 0px;
  }

  .rowtable.header .cell {
    display: none;
    padding-left: 20px;
  }

  .rowtable .cell:before {
    font-size: 12px;
    color: #808080;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: unset !important;

    margin-bottom: 13px;
    content: attr(data-title);
    min-width: 98px;
    display: block;
  }
}

.cell {
  display: table-cell;
}

@media screen and (max-width: 768px) {
  .cell {
    display: block;
  }
}

.rowtable .cell {
  font-size: 15px;
  color: #666666;
  line-height: 1.2;
  font-weight: unset !important;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f2f2f2;
}

.rowtable.header .cell {
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset !important;

  padding-top: 19px;
  padding-bottom: 19px;
}

.rowtable .cell:nth-child(1) {
  width: 360px;
  padding-left: 40px;
}

.rowtable .cell:nth-child(2) {
  width: 160px;
}

.rowtable .cell:nth-child(3) {
  width: 250px;
}

.rowtable .cell:nth-child(4) {
  width: 190px;
}


.table, .rowtable {
  width: 100% !important;
}

.rowtable:hover {
  background-color: #ececff;
  cursor: pointer;
}

@media (max-width: 768px) {
  .rowtable {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 18px;
    padding-top: 30px;
    padding-right: 15px;
    margin: 0;
  }
  
  .rowtable .cell {
    border: none;
    padding-left: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .rowtable .cell:nth-child(1) {
    padding-left: 30px;
  }
  
  .rowtable .cell {
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    font-weight: unset !important;
  }

  .table, .rowtable, .cell {
    width: 100% !important;
  }
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(460px, -100px) rotate(180deg);
  -ms-transform: translate(460px, -100px) rotate(180deg);
  transform: translate(460px, -100px) rotate(180deg);
  -webkit-transition: all 0.2s 0.4s ease-in-out;
  transition: all 0.2s 0.4s ease-in-out;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.hovereffect:hover h2 {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.hovereffect:hover a.info {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}


@media (max-width: 767px) {
  .btn-breadcrumb { margin-left: 1px; margin-right: 1px;font-size:10px; width: calc(100% - 67%) !important; }
  #floatnone { float: none !important; }
  #small{ min-width:160px !important; min-height:160px !important; font-size:14px !important; }
  #fontsmall{ font-size:14px !important; }
}

@media (max-width: 767px) {
  .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0);height:170px;}
}

/*.btn-breadcrumb{
  width: 60%;
  background-color: #fff;
  border-radius: 4px;
  border: solid 1px #ccc;
}*/
.btn-breadcrumb .btn{
  border-color: transparent; border: 0px solid transparent;
  border-right: 1px solid transparent !important; 
  font-size: 15px;
  border-radius: .25rem !important;
}
.breadcrumb-default{ background-color: #fff; }
.btn-primary,.breadcrumb-primary{ background-color: #337ab7; }
.btn-primary:hover{background-color: #286090;}

.breadcrumb-success{ background-color: #5cb85c; }
.breadcrumb-info{ background-color: #5bc0de; }
.breadcrumb-warning{ background-color: #f0ad4e; }
.breadcrumb-danger{ background-color: #d9534f; }
.breadcrumb-negro{ background-color: #d4d4d4; }

.btn-breadcrumb .btn:last-child {font-weight: bold; text-decoration: none;}
.btn-breadcrumb .btn:last-child:after{margin-left: -2px;}
.btn-breadcrumb .btn:last-child:before{margin-left: -1px;}

.btn-breadcrumb .btn-derecha{

  float: right;
  margin-right: 0px;
  padding: 12px 20px 12px 20px !important;
  margin-left: 0px !important;
  border-radius: 0px !important; 
}
.btn-breadcrumb .btn-derecha:first-child { 
  border-top-right-radius: 2px !important; 
  border-bottom-right-radius: 2px !important;  
}

.btn-breadcrumb .btn-derecha:after, .btn-breadcrumb .btn-derecha:before{
  content: none !important;
}

.btn-breadcrumb .btn:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 23px solid transparent;
  border-bottom: 24px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -24px;
  margin-left: 0px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 23px solid transparent;
  border-bottom: 24px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -24px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn {padding:12px 22px 12px 28px;}
.btn-breadcrumb .btn:first-child {padding:12px 12px 12px 20px;}
.btn-breadcrumb .btn:last-child {padding:12px 22px 12px 28px;}

/** Default button **/
.btn-breadcrumb .btn.btn-default:after { border-left: 10px solid #fff;}
.btn-breadcrumb .btn.btn-default:hover:after {border-left: 10px solid #e6e6e6;}
.btn-breadcrumb .btn.btn-default:hover:before, .btn-breadcrumb .btn.btn-default:before {border-left: 10px solid #adadad;}
.breadcrumb-default{ border: solid 1px #adadad; }

/** Primary button **/
.btn-breadcrumb .btn.btn-primary:after {border-left: 10px solid #337ab7;}
.btn-breadcrumb .btn.btn-primary:hover:after {border-left: 10px solid #286090;}
.btn-breadcrumb .btn.btn-primary:hover:before, .btn-breadcrumb .btn.btn-primary:before {border-left: 10px solid #204d74;}
.breadcrumb-primary{ border-radius: .25rem; }


/** Info button **/
.btn-breadcrumb .btn.btn-info:after {border-left: 0px solid #5bc0de;}
.btn-breadcrumb .btn.btn-info:hover:after {border-left: 0px solid #31b0d5;}
.btn-breadcrumb .btn.btn-info:hover:before, .btn-breadcrumb .btn.btn-info:before {border-left: 0px solid #269abc;}
.breadcrumb-info{ border: solid 0px #269abc; }