#table {
  background-color:#008de4;
  color:white
}

.btn-primary {
  color: #fff;
  background-color: #0e77dd;
  border-color: #007bff;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ebeeee !important;
    /*font-size: 400px !important;*/
}

.description{
    width: 40%;
    overflow: hidden;
}
/*footer*/
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#343a40; min-height:100%; padding:10px 0px 25px 0px ;margin-top:100PX;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
  list-style-type:none;
  padding:0px;
  display:table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}


/*
    Note: It is best to use a less version of this file ( see http://css2less.cc
    For the media queries use @screen-sm-min instead of 768px.
    For .omb_spanOr use @body-bg instead of white.
*/

@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
  line-height: 300%;
}
  
.omb_login .omb_socialButtons a {
  color: white; // In yourUse @body-bg 
  opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
  opacity:1;      
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
  position: relative;
  font-size: 1.5em;
  color: #aaa;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
  display: block;
  position: absolute;
  left: 50%;
  top: -0.6em;
  margin-left: -1.5em;
  background-color: white;
  width: 3em;
  text-align: center;
}     

.omb_login .omb_loginForm .input-group.i {
  width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}

  
@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
    margin-top:10px;
  }   
}

.dropdown-item { color: white; }

.dropdown-item:focus, .dropdown-item:hover {
  color: white;
  background-color: #0e77dd;
}

.blue-link:hover {
  color: #0e77dd !important;
  text-decoration: none !important;
}

a.blue-link {
  transition: color 0.3s ease-in-out;
}

div.mdr_navbar {
  /*background-color: rgb(0, 141, 228);*/
}

table {
  width: 70% !important;
}

/* Tooltip container */
.tooltipaba {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.bg {
  background-color: white !important;
  color: black !important;
}

.bg-dark {
  background-color: #343a40 !important;
  color: white !important;
}

/* Tooltip text */
.tooltipaba .tooltiptext {
    visibility: hidden;
    width: 500px;
    background-color: white;
    /*border: gray solid 1px;*/
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;

}
.tooltipimg {
  border: gray solid 1px;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltipaba:hover .tooltiptext {
    visibility: visible;
    position: all;
    bottom: 100%;
    left: -50%; 
}

.navbar {
    z-index: -1;
    background-color: #656565;
}

.shadow {
  -webkit-box-shadow: 2px 10px 19px -3px rgba(0,0,0,0.23);
  -moz-box-shadow: 2px 10px 19px -3px rgba(0,0,0,0.23);
  box-shadow: 2px 10px 19px -3px rgba(0,0,0,0.23);
}

div.item {
  background-color: white;
}

header {
  /*text-align: center;*/
  z-index: 1000;
  background-color: #656565;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  font-family: 'Montserrat:400,800i', sans-serif;
}

header.header-up{
  top: -80px;
}

.header-up img {
  margin-top: -14px !important;
}

header .brand {
  width: 100%;
  height: 80px;
  line-height: 50px;
  display: inline-block;
  cursor: pointer;
}

header .brand .logo {
  cursor: pointer;
  width: 100%;
  /*height: 20px;*/
  display: inline-block;
  vertical-align: middle;
}


.percent {
    line-height: 110px;
    z-index: 2;
    font-size: 18px
}

.percent:after {
    content: 'days';
    margin-left: .1em;
    font-size: .8em
}
.chart, .percent {
    display: inline-block
}

.chart {
    position: relative;
    width: 110px;
    height: 110px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center
}

.chart canvas {
    position: absolute;
    top: 0;
    left: 0
}

.angular .chart {
    margin-top: 0
}


.banner-container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%, -50%);
}





