<!DOCTYPE html>
<html>
<head>
	<title>Error 403</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
      crossorigin="anonymous">
<style type="text/css">

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ebeeee !important;
    }
</style>
  
</head>
	<body>
		<div style="margin-top:200px;" align="center">
		 <a href="{% url 'home'%}"> <div><img src="/static/img/logo copy.png" width="400px" style="cursor:pointer;" ></div></a>
			<div style="font-size:100px;"><b>{{ title }}</b></div>
			<p>{{ message }}</p>
			<a class="btn btn-primary" href="{% url 'home'%}"> Go to home</a>
		</div>
	</body>
</html>