{% load humanize %}
<!DOCTYPE html>
<html>
<head>
    {% block meta %}
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <!-- Meta, title, CSS, favicons, etc. -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock meta %}
    
    <title>Mega Dash Raffle | {% block title %}{% endblock %}</title>
    
    {% block style %}
      <!-- Bootstrap -->
      <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
            rel="stylesheet" 
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
            crossorigin="anonymous">
      <!-- Common Style -->
      <link href="/static/css/common.css" rel="stylesheet">
      <link href="/static/css/accordion.css" rel="stylesheet">
      <link href="/static/css/styles.css" rel="stylesheet">
    {% endblock style%}
</head>


<body>
  <header>
       <div class="brand" style="z-index: 1000; background-color: #343a40">
        <span class="logo">
          <div class="row" style="width: 100%">
            <div class="col-md-4 col-sm-4 col-xs-1"> </div>
            <div class="col-md-4 col-sm-4 col-xs-10" style="text-align: center;">
              <!-- <img src="/static/img/1.2.png" width="60px" > -->
              <a href="{% url 'index' %}">
                <img src="/static/img/logo_blanco.png" width="200px" style="margin-top: 10px" >
              </a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-1"> </div>
          </div>
          
        </span>
      </div>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" style="width: 50% !important">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {%block home%} {% endblock home%}">
                    <a class="nav-link" href="{% url 'index' %}">
                      <i class="fa fa-home"></i>
                      <b>Home</b>
                    </a>
                </li>
                <li class="nav-item {%block search%} {% endblock search%}">
                    <a class="nav-link" href="#">
                      <b>Search Raffles</b>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                      <b>Create a Raffle</b>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                      <b>Contact us</b>
                    </a>
                </li>
            </ul>
        </div>
        
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" style="width: 50% !important">
            <ul class="navbar-nav ml-auto" style="cursor:pointer;">
                <li class="nav-item {%block login%} {% endblock login%}">
                    <a class="nav-link" onclick="return abrir_modal('/login/?modal=1')">
                      <i class="fa fa-user"></i>
                      <b>Log In</b>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick="return abrir_modal('/signup/?modal=1')">
                      <i class="fa fa-book"></i>
                      <b>Sign Up</b>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {%block rules%} {% endblock rules%}" onclick="return abrir_modal('/help/')">
                      <i class="fa fa-question"></i>
                      <b>Rules/Help</b>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
  </header>

    <div align="center" style="margin-top: 180px;">
        {% block content %}

        {% endblock content %}
    </div>
<div id="popup" class="modal fade shadow" role="dialog">

</div>
</body>
{% block scripts %}
    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <script src="/static/js/common.js"></script>
{% endblock scripts %}

<!-- Footer -->
<!--footer starts from here-->
<footer class="footer">

    <div class="container">
    <ul class="foote_bottom_ul_amrc">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Pricing</a></li>
    <li><a href="#">Help</a></li>
    <li><a href="#">Contact</a></li>
    </ul>
    <!--foote_bottom_ul_amrc ends here-->
    <p class="text-center">Copyright @2017 | Designed With by <a href="http://megadashraffle.ddns.net:8000/">MegaDashRaffle</a></p>
    <!--social_footer_ul ends here-->
    </div>
</footer>
  <!-- Footer -->
</html>

<script type="text/javascript">

  function abrir_modal(url)
    {
      console.log(url)
      $('#popup').load(url, function()
      {
        $(this).modal('show');
      });
      return false;
    }
</script>