{% load humanize %}
<!DOCTYPE html>
<html>
<head>
    {% block meta %}
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <!-- Meta, title, CSS, favicons, etc. -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock meta %}
    
    <title>Mega Dash Raffle | {% block title %}{% endblock %}</title>
    
    {% block style %}
      <!-- Bootstrap -->
      <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
            rel="stylesheet" 
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
            crossorigin="anonymous">
      <!-- Common Style -->
      <link href="/static/css/common.css" rel="stylesheet">
      <link href="/static/css/accordion.css" rel="stylesheet">
      <link href="/static/css/styles.css" rel="stylesheet">
    {% endblock style%}
</head>

  

<body>
  <header>
       <div class="brand" style="z-index: 1000; background-color: white">
        <span class="logo">
          <div class="row" style="width: 100%">
            <div class="col-md-4 col-sm-4 col-xs-1"> </div>
            <div class="col-md-4 col-sm-4 col-xs-10" style="text-align: center;">
              <!-- <img src="/static/img/1.2.png" width="60px" > -->
              <img src="/static/img/logo.png" width="200px" >
            </div>
            <div class="col-md-4 col-sm-4 col-xs-1"> </div>
          </div>
          
        </span>
      </div>
      <nav class="navbar navbar-expand-lg navbar-dark">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">
              <i class="fa fa-home"></i> 
              <b>Home</b>
              <span class="sr-only">(current)</span>
            </a>
            <a class="nav-item nav-link" href="#">
              <b>Features</b>
            </a>
            <a class="nav-item nav-link" href="#">
              <b>Pricing</b>
            </a>
            <a class="nav-item nav-link disabled" href="#">
              <b>Disabled</b>
            </a>
          </div>
        </div>
      </nav>
  </header>

    <div align="center" style="margin-top: 230px;">
        {% block content %}

        {% endblock content %}
    </div>
<div id="popup" class="modal fade" role="dialog">

</div>
</body>
{% block scripts %}
    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <script src="/static/js/common.js"></script>
{% endblock scripts %}
</html>

<script type="text/javascript">

  function abrir_modal(url)
    {
      console.log(url)
      $('#popup').load(url, function()
      {
        $(this).modal('show');
      });
      return false;
    }
</script>