
{% extends "modalForm.html" %}

{%load humanize %}

{% block form %}
<br>
<div class="modal-dialog modal-md" style="z-index:1500;" >
  <div class="modal-content shadow modal-margin ">
    <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">x</button>
       <div class="container-fluid bg-gray" id="accordion-style-1">
         <div class="container">
            <section>
              <div class="row" align="center">
                <div class="col-12 mx-auto">
                  <div class="accordion" id="accordionExample">
                    <div class="container" style="z-index:-1;">
                          <h3 id="text" style="margin-bottom:15px;"><b>Buy tickets</b></h3>
                          <h5 id="text">{{ raffle.name }}</h5>
                        <div id="pre-buy">
                            <p> How many ticket do you want to buy </p>
                            <div class="row">
                            <div class="col-sm-3"></div>
                                 <div class="col-sm-6" style="margin-left:-15px;">
                                    <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1" style="background-color:#0062cc !important"><input class="form-control"  type="number" name="nTickets" value="1" style="text-align:center;margin-right:10px;height:50px;width:110px;font-size:25px;" onchange="requestQR()" id="numberTickets" min="1" pattern="^[0-9]+"><i class="fas fa-ticket-alt fa-4x" style="color:white"></i>
                                       </span>
                                       </div>
                                    </div>
                                </div>

                                <br>
                                <br>
                            <div class="col-sm-12" id="alert" style="display:none">
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                  <span style="font-size:14px;">You must agree to terms and conditions</span>
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                            </div>
                                <div class="col-sm-12">
                                    {% if request.user.is_anonymous %}
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" name="terms" id="defaultUnchecked" onchange="valid()">
                                        <label class="custom-control-label" for="defaultUnchecked">I agree to the <a href="{% url 'terms' %}">terms</a> and <a href="{% url 'conditions' %}">conditions</a></label>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                  <div class="col-sm-6">
                                      <button class="btn btn-primary btn-block" type="submit" id="close" data-dismiss="modal">Close</button>
                                  </div>
                                  <div class="col-sm-6">
                                      <button class="btn btn-primary btn-block" 
                                              type="button" 
                                              id="continue" 
                                              {% if request.user.is_anonymous %}
                                                onclick="btn_submit()"
                                              {% endif %}>
                                          Continue
                                      </button>
                                  </div>
                            </div>
                        </div>
                        <div id="buy" style="display:none">
                            <p> Scan the following QR with your Dash Wallet</p>
                            <div>
                                <a id="link" >
                                    <img id="image">
                                </a>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-1"></div>
                                      <p id="address"></p>
                                  
                            </div>
                            <input type="text" name="raffleaddress" value="{{address}}" maxlength="128" required="" id="raffleaddress" style="display: none;" class="form-control">
                            <div class="col-sm-12" id="message">
                                <div class="alert-form alert-warning alert-dismissible fade show" role="alert" style="margin-bottom:20px !important ;">
                                  <span style="font-size:14px;text-align:left;">
                                 <b>Attention:</b> Remember to transfer the exact amount indicated, otherwise the rest will be considered a donation and not a ticket sale.
                                 The transaction Private send should not be sent.</span>
                                  <button type="button" class="close" style="margin-right:10px;" onclick="message()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                            </div> 
                            <div class="row">
                                  <div class="col-sm-6">
                                    <button class="btn btn-primary btn-block" type="submit" id="back" onclick="back()">Go back</button>
                                  </div>
                                  <div class="col-sm-6">
                                      <button class="btn btn-primary btn-block" type="button" id="close" data-dismiss="modal">Close</button>
                                  </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
    </div>
  </div>
</div>     
    

{% endblock form %}
    
{% block scripts %}
  {{ block.super }}
    <script type="text/javascript">
      var address = "{{address}}"
      var price = {{raffle.ticketPrice}}
      var number = document.getElementById('numberTickets');
      console.log(number)

        function back() {
            $('#pre-buy').show();
            $('#buy').hide();
        }

        function message() {
            $('#message').hide();
        }

        function btn_submit() {
            if ($('input[name=terms]').prop('checked')) {
                  $('#pre-buy').hide();
                  $('#buy').show();
                }else{
                  $('input[name=terms]').addClass('is-invalid');
                  $('#alert').show();
                }
        }

        {% if request.user.is_anonymous %}
          function valid(){
            if ($('input[name=terms]').prop('checked')) {
                $('#alert').hide();
                $('input[name=terms]').removeClass('is-invalid');
            }
          }
        {% endif %}

        function requestQR(){
          
          if(number.value <= 0){
            number.value = 1;
          }

            var n = number.value
            
            console.log(address)
            var dashuri = "dash:" + address + "?amount=" + String((n*price).toFixed(8)) + "&label=Tickets"
            document.getElementById("image").src = "https://api.qrserver.com/v1/create-qr-code/?size=150x150&data="+dashuri
            document.getElementById("link").href = dashuri
            document.getElementById("address").innerHTML = 'Or send ' + String((n*price).toFixed(3)) + ' tDash to the following address: {{address}}'
            $span = $('<span />').addClass('d-inline-block').attr({'data-toggle':"tooltip", 'title':'Copy address','tabindex':'0', 'data-placement':"right"});
            $li = $('<li />').addClass('fa fa-copy').attr({'onclick':'copy()', 'style':'color: #0062cc;cursor: pointer;margin-left:10px;'});
            $('#address').append( $span );
            ( $span ).append( $li )
        }

        requestQR() 


        function copy() {
         /* Get the text field */
          var copyText = document.getElementById("raffleaddress");

          const el = document.createElement('textarea');
          el.value = copyText.value;
          document.body.appendChild(el);
          el.select();
          document.execCommand('copy');
          document.body.removeChild(el);
        }
    </script>
{% endblock scripts %}

