{% extends "base.html" %}


{% block content %}
    <h2> Buy tickets </h2>

    <p> How many ticket do you want to buy </p>
    <input type="number" name="nTickets" value="1">
    
    <input type="checkbox" name="terms"> I agree to the <a href="{% url 'terms' %}">terms and conditions</a>
    

{% endblock content %}
    
{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">

        const price = {{ raffle.ticketPrice }}
        const address = "{{address}}"

        
        function requestQR(){
            var n = parseInt($("#numberTickets").val())
            
            if (isNaN(n) || n <= 0){
                n = 1
            }
            $("#numberTickets").val(n) 
            
            console.log(address)
            var dashuri = "dash:" + address + "?amount=" + String(n*price) + "&label=Payment"
            document.getElementById("image").src = "https://api.qrserver.com/v1/create-qr-code/?size=150x150&data="+dashuri
            document.getElementById("link").href = dashuri
            document.getElementById("address").innerHTML = 'Or send ' + String((n*price).toFixed(3)) + ' tDash to {{address}}'
        }

        requestQR()
    </script>
{% endblock scripts %}

