{% extends "base.html" %}


{% block content %}
<br>
<br>
<br>
<div class="modal-dialog modal-md" {% if request.GET.modal == '1'%} style="z-index:1500;" {% endif %}>
  <div class="modal-content {% if request.GET.modal != '1'%} shadow modal-margin {%endif%} ">
    <div class="modal-body">
    {% if request.GET.modal == '1'%}
        <button type="button" class="close" data-dismiss="modal">x</button>
    {% endif %}
       <div class="container-fluid bg-gray" id="accordion-style-1">
         <div class="container">
            <section>
              <div class="row" align="center">
                <div class="col-12 mx-auto">
                  <div class="accordion" id="accordionExample">
                    <div class="container" style="z-index:-1;">
                      <h3 id="text" style="margin-bottom:25px;">Buy tickets</h3>
                        <p> How many ticket do you want to buy </p>
                        <div class="row">
                        <div class="col-sm-3"></div>
                            <div class="col-sm-6">
                                <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-ticket-alt"></i></span>
                                  </div>
                                   <input class="form-control"  type="number" name="nTickets" value="1" style="text-align:center">
                                </div>
                            </div>

                            <br>
                            <br>
                            <div class="col-sm-12">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="terms" id="defaultUnchecked" >
                                    <label class="custom-control-label" for="defaultUnchecked">I agree to the <a href="{% url 'terms' %}">terms and conditions</a></label>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                              <div class="col-sm-6">
                                  <button class="btn btn-primary btn-block" type="submit" id="close">Close</button>
                              </div>
                              <div class="col-sm-6">
                                  <button class="btn btn-primary btn-block" type="submit" id="continue" onclick="btn_submit()">Continue</button>
                              </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
    </div>
  </div>
</div>     
    

{% endblock content %}
    
{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">

        const price = {{ raffle.ticketPrice }}
        const address = "{{address}}"

        
        function requestQR(){
            var n = parseInt($("#numberTickets").val())
            
            if (isNaN(n) || n <= 0){
                n = 1
            }
            $("#numberTickets").val(n) 
            
            console.log(address)
            var dashuri = "dash:" + address + "?amount=" + String(n*price) + "&label=Payment"
            document.getElementById("image").src = "https://api.qrserver.com/v1/create-qr-code/?size=150x150&data="+dashuri
            document.getElementById("link").href = dashuri
            document.getElementById("address").innerHTML = 'Or send ' + String((n*price).toFixed(3)) + ' tDash to {{address}}'
        }

        requestQR()

    $(document).ready(function() {
        function btn_submit() {
            if ($('input[name=terms]:checked')) {
                console.log('hola')
                else{
                    console.log('jeje')
                  $('input[name=terms]').AddClass('is-invalid')
                }
             }
        }
    });
    

    </script>
{% endblock scripts %}

