{% extends "base.html" %}
{% load humanize %}

{% block title %} Conditions {% endblock %}

{% load mathfilters %}


{% block style %}
  {{block.super}}
  <style type="text/css">
    p,li {
      text-align: left;
    }
  </style>
{% endblock style %}


{% block content %}
  <section style="margin-top: 160px">
    <div class="container">
      
    <p>&nbsp;</p>

    <h2>MEGA DASH RAFFLE</h2>

    <br />
    <h2>Responsible Gambling Code of Conduct</h2>

    <p>&nbsp;</p>

    <p><strong>1. Availability of the Responsible Gambling Code of Conduct</strong></p>

    <p>The Code is available on the Mega Dash Raffle website at MegaDashRaffle.org.</p>

    <p><strong>2. Responsible Gambling Message</strong></p>

    <p>Mega Dash Raffle is committed to selling raffle tickets responsibly to support dash community and charitable organizations. This message will be displayed on the Mega Dash Raffle website and on material developed by Mega Dash Raffle for the promotion and conduct of raffles on behalf of Dash community and charitable organizations.</p>

    <p><strong>3. Responsible Gambling Information</strong></p>

    <p>Information about the following is available on the Mega Dash Raffle website at MegaDashRaffle.org</p>

    <ul>
      <li>&nbsp; How to gamble responsibly, e.g. decide before you buy how much you want to spend</li>
      <li>&nbsp; The availability of&nbsp;gambling support services in your location</li>
    </ul>

    <p><strong>4. Gambling Product Information</strong></p>

    <p>The terms and conditions for the conduct of a raffle will be showed on the ticket buying process and/or information material designed to promote the raffle, and the Mega Dash Raffle website at MegaDashRaffle.org</p>

    <p><strong>5. Customer Loyalty Scheme Information</strong></p>

    <p>Mega Dash Raffle does not make provision for a customer loyalty scheme.</p>

    <p><strong>6. Interaction with Customers</strong></p>

    <p>As an online fundraising service, Mega Dash Raffle has minimal interaction with ticket buyers/bakers however, Mega Dash Raffle staff will assist customers who request it with information about help with any gambling problem. This information will include referral details to any local Gambler&rsquo;s Help telephone service and/or information materials prepared by Gambler&rsquo;s Help services.</p>

    <p>In addition, for customers who have indicated that they have a gambling problem or may be overextending themselves financially:</p>

    <p>* Mega Dash Raffle will remind customers at time of ticket purchase how to gamble responsibly<br />
    * At time of purchase, Raffle will instruct buyers to review the Terms &amp; Conditions of ticket purchase on our Mega Dash Raffle website &ndash; Terms.</p>

    <p>* Where the raffle website page for ticket purchases is promoted in person, suggest that the baker take a moment to reflect on whether they wish to purchase tickets/as many tickets (cooling off period)</p>

    <p><strong>7. Interaction with Staff</strong></p>

    <p>Staff are NOT permitted to purchase raffle tickets being sold through Mega Dash Raffle.</p>

    <p><strong>8. Interaction with Problem Gambling Support Services</strong></p>

    <p>The Manager or a senior staff member of Mega Dash Raffle will contact local Gambler&rsquo;s Help services twice a year to obtain updated publications and any changes to contact details or available services. This information will be communicated to staff, and made available for use with Dash community, as soon as practicable after it is received.</p>

    <p><strong>9. Bakers Complaints</strong></p>

    <p>A baker may lodge a complaint with Mega Dash Raffle regarding the Gambling Code of Conduct by writing to: post.office@megadashraffle.org</p>

    <p>Mega Dash Raffle will investigate the complaint, as soon as possible, and will take the following steps to resolve a complaint:</p>

    <ul>
      <li>&nbsp; will acknowledge the complaint within 48hrs of receipt</li>
      <li>&nbsp; will investigate the complaint by gathering all necessary information and feedback from relevant parties</li>
      <li>&nbsp; will keep the baker informed regarding the progress, outcome and resolution of the complaint enquiry through written notification</li>
      <li>&nbsp; complaint details will be kept on file and can be made available to the relevant dash community authority upon request</li>
    </ul>

    <p>Should a complaint not be resolved through the regular process mentioned above, then the following independent process will commence:</p>

    <ul>
      <li>&nbsp; the baker will be invited to attend joint meetings with an independent mediator with the cost to be shared equally between both parties</li>
    </ul>

    <p><strong>10. Compliance with the prohibition on gambling by minors</strong></p>

    <p>Mega Dash Raffle does not wish to encourage early gambling habits in children. Mega Dash Raffle will not target any promotion and asks the Non-profit Organization Representative (NPOR) not to execute sales campaign at minors and will not knowingly sell raffle tickets to minors.</p>

    <p>Mega Dash Raffle will display a message on the ticket purchase page stipulating that a person must be over the age of 18 years old to purchase a ticket.</p>

    <p><strong>11. The Gambling Environment</strong></p>

    <p>The Mega Dash Raffle online selling facility is a platform open to all dash community to back project they want to support</p>

    <p>Mega Dash Raffle will discourage repeatedly excessive purchase of tickets by bakers by not engaging in hard/pressure sales techniques</p>

    <p><strong>12. Financial Transactions</strong></p>

    <p>Mega Dash Raffle does not extend credit to customers to purchase raffle tickets.</p>

    <p><strong>13. Responsible Advertising Promotions</strong></p>

    <p>Any advertising and promotions undertaken by NPORs in relation to a raffle will:</p>

    <ul>
      <li>&nbsp; Comply with the advertising code of ethics adopted by their local advertising associations</li>
      <li>&nbsp; Not be false or misleading or deceptive about odds, prizes or the chances of winning</li>
      <li>&nbsp; Have the consent of any person identified as winning a prize prior to publication</li>
      <li>&nbsp; Not be offensive or indecent in nature</li>
      <li>&nbsp; Not create an impression that entering a raffle is a reasonable strategy for financial betterment</li>
    </ul>

    <p>&nbsp;</p>

    <h2>Code Review Process</h2>

    <p><br />
    1) Mega Dash Raffle&rsquo;s Code will be reviewed each year on the anniversary of its commencement.<br />
    2) Input will be obtained from management and staff and a sample of patrons about the operation and effectiveness of the Code.</p>


    </div>
  </section>
{% endblock content %}


















