{% extends "form.html" %}
{% load humanize %}

{% block form %}
  {% for message in messages %}
    <div style="color:red"> {{ message }} </div>
  {% endfor %}
  <br>
  <br>
  
  <form method="post">
    {% csrf_token %}
    <div class="container" align="left" style="width: 80%">
        {% if field.name == "isMultisig" %}
          <div class="row" style="margin-top: 5px; margin-bottom:  15px;">
            <div class="col-md-4">Maintenance fee</div>
            <div class="col-md-8">10%</div>
          </div>
          <div class="row"> <div class="col-md-12"><hr></div> </div>
        {% elif field.name == "addressProject" %}
          <div class="row"> <div class="col-md-12"><hr></div> </div>
        {% endif %}
        <div class="row">
          <div class="container-contact100">
            <div class="wrap-contact100">
              <form class="contact100-form validate-form">
                <span class="contact100-form-title">
                  Create Raffle
                </span>

                <div class="wrap-input100 validate-input" data-validate="Name is required">
                  <span class="label-input100">Raffle Name</span>
                  <input class="input100" type="text" name="name" placeholder="Enter your Raffle Name">
                  <span class="focus-input100"></span>
                </div>
              <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <p class="label-input100">Type of Raffle</p>
                    <div>
                      <select class="selectpicker" data-live-search="true" data-width="100%">
                        <option>Mini Dash Raffles (0.01 tDash)</option>
                        <option>Dash Raffles (0.1 tDash)</option>
                        <option>Mega Dash Raffle (0.5 tDash)</option>
                        <option>Mega Dash Raffle (0.5 tDash)</option>
                        <option>Mega Dash Raffle (0.5 tDash)</option>
                      </select>
                    </div>
                </div>
                  <div class="col-md-6 col-sm-12 col-xs-12">
                    <p class="label-input100">Signers</p>
                    <div>
                        <select class="selectpicker" data-width="100%" id="id_signers" tabindex="-98"> 
                        </select>
                    </div>
                  </div>
              </div>
              <div class="wrap-input100 validate-input" data-validate="Name is required">
                  <span class="label-input100">thumbnail</span>
                  <input class="input100" type="text" name="thumbnail" placeholder="Enter your thumbnail">
                  <span class="focus-input100"></span>
              </div>
              <br>
                 <p class="label-input100" style="margin-bottom:15px;">Description:</p>
                    <div class="col-md-8">{{ form.description }}</div>
                    <br>
                    <div class="col-sm-12" align="center">
                      <div class="col-sm-6">
                      <button class="btn btn-primary btn-block" type="submit">Submit</button>
                    </div>
              </form>
            </div>
          </div>
        </div>

        {% if field.errors %}
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8"><div style="color:red"> {{ field.errors }} </div></div>
          </div>
        {% endif %}
    </div>
  </div>   



{% endblock form %}

{% block scripts %}
  {{ block.super }}
  {{ form.media }}
  
  <script src="/static/js/bootstrap-select.js"></script>
  <script src="/static/js/select2.min.js"></script>

  <script type="text/javascript">

    blockTime = parseInt('{{ blockTime }}')
    count = parseInt('{{ count }}')
    input = $('#id_blockHeight')

    function estimate(){
      if (count > input.val()){
        input.val(count)
      } else {
        approxTime = blockTime + (input.val() - count) * (2.6*60) // 2.6 minutes per block
        console.log(approxTime)
        date = timeConverter(approxTime)
        $('#date').html(date)
      }
    } 
    $(document).ready(function(){
      $.fn.selectpicker.Constructor.BootstrapVersion = '4';
      $('select').selectpicker();
      console.log('Epale')
    })
    function toggleMultisig(){
      if ($('#id_isMultisig').prop('checked')){
        console.log('hola')
        $('#div_signsRequired').show()
        $('#id_signsRequired')
          .prop('required',true)
          .prop('disabled',false)

        /*$('#div_signers').show()
        $('#id_signers')
          .prop('required',true)
          .prop('disabled',false)*/

        for (var i = 1; i <= 6 ; i++){
          $('#div_MSpubkey'+String(i)).show()
          $('#id_MSpubkey'+String(i))
            .prop('required',true)
            .prop('disabled',false)

        }

        // $('#div_addressPrize').hide()
        // $('#id_addressPrize')
        //   .prop('required',false)
        //   .prop('disabled',true)

      } else {
        $('#div_signsRequired').hide()
        $('#id_signsRequired')
          .prop('required',false)
          .prop('disabled',true)

        /*$('#div_signers').hide()
        $('#id_signers')
          .prop('required',false)
          .prop('disabled',true)*/

        for (var i = 1; i <= 6 ; i++){
          $('#div_MSpubkey'+String(i)).hide()
          $('#id_MSpubkey'+String(i))
            .prop('required',false)
            .prop('disabled',true)

        }

        // $('#div_addressPrize').show()
        // $('#id_addressPrize')
        //   .prop('required',true)
        //   .prop('disabled',false)

      }
    }

    input.change(estimate)
    prize = $('#id_prizePercentage')
    project = $('#id_projectPercentage')
    prize.change(function(){
      if (prize.val() > 90){
        prize.val(90)
      } else if (prize.val() < 0) {
        prize.val(0)
      }
      project.val(90-prize.val())
    })

    $(document).ready(function(){
      toggleMultisig()
      $('#id_isMultisig').change(toggleMultisig)
      project.change(function(){
        if (project.val() > 90){
          project.val(90)
        } else if (project.val() < 0) {
          project.val(0)
        }
        prize.val(90-project.val())
      })
      estimate()
    })

  $(".selection-2").select2({
      minimumResultsForSearch: 20,
      dropdownParent: $('#dropDownSelect1')
    });

  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');

   $(document).ready(function() {
        $("#id_users").on('change', getSigners);
        
    });

    function getSigners() {
        var usersId = $("#id_users").val();
        if (usersId) {
          console.log(usersId)
            // Eliminamos las opciones anteriores del select
            /*$("#id_signers").html("");*/
            var request = $.ajax({
                type: "GET",
                url: "{% url 'api.users' %}",
                data: {
                    "id_users": usersId,
                },
            });
            request.done(function(response) {
                // Agregamos los resultados al select
                $("#id_proceso").html(response.signers);
                $("#id_signers").html(response.signers);
                console.log(response.signers)
            });

        } else {
            $("#id_signers").html("<option value='' selected='selected'>---------</option>");
            $("#id_signers").trigger("change");
            console.log('Hola')
        }
    }    
  </script>
{% endblock scripts %}
