{% extends "base.html" %}
{% load staticfiles %}

{% block style %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-select.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
{% endblock style %}

{%load humanize %}

{% block content %}
    {%block form%}

    {%endblock form%}
{% endblock content %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static/js/form.js"></script>
{% endblock scripts %}
