<!-- Accordion -->

      <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <div class="modal-header" align="center">
                  <h3 id="text" style="margin-left:300px;">HELP / Rules</h3>
                  <button type="button" class="close" data-dismiss="modal">x</button>
              </div>
              <div class="modal-body">
                <div class="container-fluid bg-gray" id="accordion-style-1">
                    <div class="container">
                        <section>
                            <div class="row">
                                <div class="col-12 mx-auto">
                                    <div class="accordion" id="accordionExample">
                                        <div class="card">
                                            <div class="card-header" id="headingOne">
                                                <h5 class="mb-0">
                                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                              <i class="fas fa-user-tie" id="main"></i><i class="fa fa-angle-double-right mr-3"></i>Backers registration
                                            </button>
                                          </h5>
                                            </div>

                                            <div id="collapseOne" class="collapse show fade" aria-labelledby="headingOne" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    In Mega Dash Rafle you can register to buy tickets for any raffle if you want the beneficiary project to know that you are donating.
                                                    If you do not want it, you can buy tickets anonymously, without registration
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="headingTwo">
                                                <h5 class="mb-0">
                                            <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                             <i class="fa fa-cart-plus" id="main"></i><i class="fa fa-angle-double-right mr-3"></i>How to buy?
                                            </button>
                                          </h5>
                                            </div>
                                            <div id="collapseTwo" class="collapse fade" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    Select the Raffle game in which you want to participate (just by clicking on the name of the raffle). The name of the raffle will have the name of the project that benefits.
                                                    There you will see the summary of the raffle and the addresses of the wallets that will receive the funds, block and approximate date of the draw, price of the ticket, tickets sold and how much is the prize accumulated for the winner.
                                                    Click on buy tickets, select the amount of tickets to buy and use the QR code or the address to send the money
                                                    Your purchase will be registered as soon as the funds are confirmed.
                                                    <br><p style="color:red">IMPORTANT WARNING: do not send money to the beneficiary's and / or prize's addresses, they will not count as a ticket purchase but as a donation. ONLY BUY TICKETS THROUGH THE OPTION BUY</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="headingThree">
                                                <h5 class="mb-0">
                                            <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                              <i class="fa fa-ticket-alt ticket" id="main"></i><i class="fa fa-angle-double-right mr-3"></i>Draws
                                            </button>
                                          </h5>
                                            </div>
                                            <div id="collapseThree" class="collapse fade" aria-labelledby="headingThree" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    The draw will take place automatically in what the chosen block is to run the raffle.
                                                    The draw mechanism is random on all the directions from where the tickets were purchased
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="headingFour">
                                                <h5 class="mb-0">
                                            <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                              <i class="fa fa-hand-holding-usd fa-2x" id="main"></i><i class="fa fa-angle-double-right mr-3"></i>Payment of the prize
                                            </button>
                                          </h5>
                                            </div>
                                            <div id="collapseFour" class="collapse fade" aria-labelledby="headingFour" data-parent="#accordionExample">
                                                <div class="card-body">
                                                   As the tickets are sold, the funds will be sent to the beneficiary project.
                                                    The prize winner will receive the funds once two out of the three auditors sign the multisign wallet where the prize is kept. These auditors are:
                                                    <ul>
                                                        <li>Mega Dash Raffle Manager</li>
                                                        <li>Owner of the beneficiary project</li>
                                                        <li>A representative of the DAO Dash</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="headingFive">
                                                <h5 class="mb-0">
                                            <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                              <i class="fa fa-question fa-2x" id="main"></i><i class="fa fa-angle-double-right mr-3"></i>Who creates the raffles?
                                            </button>
                                          </h5>
                                            </div>
                                            <div id="collapseFive" class="collapse fade" aria-labelledby="headingFive" data-parent="#accordionExample">
                                                <div class="card-body">
                                                  The Mega Dash Raffle Administrator will create the raffles that Dash DAO authorizes through a mechanism that the MNOs will define.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                        </section>
                    </div>
                </div>
             </div>
          </div>
      </div>
  </div>

<!-- .// Accordion -->