<!-- Accordion -->

      <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <div class="modal-header" align="center">
                  <h3 id="text" style="margin-left:70px">HELP / Rules</h3>
                  <button type="button" class="close" data-dismiss="modal">x</button>
              </div>
              <div class="modal-body">
                <div class="container-fluid bg-gray" id="accordion-style-1">
                    <div class="container">
                        <section>
                            <div class="row">
                                <div class="col-12 mx-auto">
                                    <div class="accordion" id="accordionExample">
                                        <p>Welcome to Mega Dash raffle, this is manual/help for non-profit project representatives (NOPR) and Bakers (ticket buyers) users. If you have any issue using our platform, please ask for help or support at:
                                              <ul>
                                                <li>Dash Nation #megadashraffle channel</li>
                                                <li>Email: post.office@megadashraffle.org</li>
                                              </ul>
                                        </p>
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/NpEaa2P7qZI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                        <div class="card" style="min-height:0px !important;">
                                            <div class="card-header" id="headingOne">
                                                <h5 class="mb-0">
                                            <button class="btn btn-link btn-block collapsed text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                              <i class="fas fa-user-tie" id="main"></i><i class="fa fa-angle-double-right mr-3"></i>Backers registration
                                            </button>
                                          </h5>
                                            </div>

                                            <div id="collapseOne" class="collapse fade" aria-labelledby="headingOne" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    At Mega Dash Raffle you can register to buy tickets for any raffle if you want the beneficiary project to know that you are donating.
                                                    If you do not want it, you can buy tickets anonymously, without registration.<br><br>
                                                    <b>Non-Profit Project Representative registration (NOPR)</b><br>
                                                    Any Project representative MUST do the registration process to be able to registry and open a benefit raffle <br><br>
                                                    <b>Registration process Registration process for any user (bakers and NOPR) </b>
                                                    <ul>
                                                      <li>1. Create an account using a valid email and a custom password</li>
                                                      <li>2. Validate your wallet:</li>
                                                        <ul>
                                                          <li>a. Create a signature for a specific Mega Dash Raffle message (automatically generated for you during this process)</li>
                                                          <li>b. Specify your public seed (do not include double quote “characters)</li>
                                                        </ul>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card" style="min-height:0px !important;">
                                            <div class="card-header" id="headingTwo">
                                                <h5 class="mb-0">
                                            <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                             <i class="fa fa-question fa-2x" id="main"></i><i class="fa fa-angle-double-right mr-3"></i>How to create a Raffle?
                                            </button>
                                          </h5>
                                            </div>
                                            <div id="collapseTwo" class="collapse fade" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <ol>
                                                      <li>Create a raffle name</li>
                                                      <li>Provide an URL with a Thumbnail Image (highly recommended to improve your raffle impact)</li>
                                                      <li>Select raffle type: Mini Raffle, Raffle and Mega Raffle</li>
                                                      <li>Insert a summary description (it is shown as part of active raffles listing)</li>
                                                      <li>Insert a long description about your DASH project, who are your team, what do you want to do with money raised</li>
                                                      <li>Must accept terms and conditions</li>
                                                    </ol>
                                                    Finally, you have to pay raffle registration fee (0.1 DASH), it amount will be refund to you until final raffle draw transfer, if you reach at least 20 tickets solds.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card" style="min-height:0px !important;">
                                            <div class="card-header" id="headingThree">
                                                <h5 class="mb-0">
                                            <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                             <i class="fa fa-cart-plus" id="main"></i><i class="fa fa-angle-double-right mr-3"></i>How to buy?
                                            </button>
                                          </h5>
                                            </div>
                                            <div id="collapseThree" class="collapse fade" aria-labelledby="headingThree" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    Select the Raffle game where you want to participate (just by clicking on the name of the raffle). The name of the raffle will have the name of the project that benefits.<br><br>

                                                    There you will see the summary of the raffle and the addresses of the wallets that will receive the funds, block and approximate date of the draw, price of the ticket, tickets sold and how much is the jackpot accumulated for the winner.<br><br>

                                                    Click on buy tickets, select the amount of tickets to buy and use the QR code or the address to send the money.<br><br>

                                                    Your purchase will be registered as soon as the funds are confirmed.<br>

                                                    <br><p style="color:red">IMPORTANT WARNING: do not send money to the beneficiary's and / or raffle jackpot's addresses, they will not take as a ticket purchase but as a donation. ONLY BUY TICKETS THROUGH THE OPTION BUY<br>
                                                    DO NOT SEND MONEY TO BUY TICKETS USING PRIVATE SEND OPTION AND / OR CREATING COMPLEX TRANSACTIONS, IT COULDN’T BE IDENTIFIED AND REGISTERED AS A TICKET SELL, JUST LIKE A DONATION
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card" style="min-height:0px !important;">
                                            <div class="card-header" id="headingFour">
                                                <h5 class="mb-0">
                                            <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                              <i class="fa fa-ticket-alt ticket" id="main"></i><i class="fa fa-angle-double-right mr-3"></i>Draws
                                            </button>
                                          </h5>
                                            </div>
                                            <div id="collapseFour" class="collapse fade" aria-labelledby="headingFour" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    The draw will take place automatically in what the chosen block is to run the raffle.<br><br>
                                                    The draw mechanism is random on all the directions from where the tickets were purchased
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card" style="min-height:0px !important;">
                                            <div class="card-header" id="headingFive">
                                                <h5 class="mb-0">
                                            <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                              <i class="fa fa-hand-holding-usd fa-2x" id="main"></i><i class="fa fa-angle-double-right mr-3"></i>Payment of the prize
                                            </button>
                                          </h5>
                                            </div>
                                            <div id="collapseFive" class="collapse fade" aria-labelledby="headingFive" data-parent="#accordionExample">
                                                <div class="card-body">
                                                   As the tickets are sold, the funds will be sent to the beneficiary project.
                                                    The jackpot winner will receive the funds once three auditors sign the multisign wallet where the jackpot is kept. These auditors will be three:
                                                    <ul>
                                                        <li>Mega Dash Raffle Manager</li>
                                                        <li>Owner of the beneficiary project</li>
                                                        <li>A representative of the DAO Dash</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                        </section>
                    </div>
                </div>
             </div>
          </div>
      </div>
  </div>

<!-- .// Accordion -->