{% extends base %}

{%load humanize %}

{% block form %}
<br>
<div class="modal-dialog modal-md" {% if request.GET.modal == '1' %} style="z-index:1500;" {% endif %} >
  <div class="modal-content {% if request.GET.modal != '1' %} shadow {% endif %}modal-margin ">
    <div class="modal-body">
        {% if request.GET.modal == '1' %}
          <button type="button" class="close" data-dismiss="modal">x</button>
        {% endif %}
       <div class="container-fluid bg-gray" id="accordion-style-1">
         <div class="container">
            <section>
              <div class="row" align="center">
                <div class="col-12 mx-auto">
                  <div class="accordion" id="accordionExample">
                    <div class="container" style="z-index:-1;">
                          <h3 id="text" style="margin-bottom:15px;"><b>Raffle Fee</b></h3>
                          
                        
                            <p> Your raffle was created successfully. In order to publish your raffle, you have to pay a 0.01 Dash fee to the following Dash address. </p>
                            <div style=" border: 1px black solid; height: 40px;font-size:13px;padding-top:7px;">
                              {{raffle.MSaddress}}
                            </div>
                            <br>
                            <p><b>Note:</b> If the fee is not payout after 7 days, the raffle will be deleted and you will have to create a new one.</p>
                        
                        
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
    </div>
  </div>
</div>     
    

{% endblock form %}
    


