{% extends "base.html" %}
{% load mathfilters %}

{% block content %}
    <a href="/"><button class="btn btn-secundary"> < Back</button></a><br><br>
    {% for message in messages %}
        <div style="color:red"> {{ message }} </div>
    {% endfor %}
    <br>
   
    <br>
    {% if request.user.wallet_address %}
        <a href="{% url 'addWalletAddress' %}">
            <button> Change wallet address</button>
        </a>
    <br>
    {% endif %}
    <h2> Your Transactions </h2>
    <table border="1" class="table table-hover" style="width: 50%">
        <thead id="table">
            <tr>
                <th>
                    Transaction ID
                </th>
                <th>
                    Raffle
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Tickets
                </th>
                <th>
                    Transaction date
                </th>
            </tr>
        </thead>
        <tbody>
            {% for tx in request.user.transactions.all %}
                <tr>
                    <td>
                        <a target="_blank" style="color:black; text-decoration: none; border-bottom: 1px dotted black;" href="https://test.explorer.dashninja.pl/tx/{{tx.address}}">
                            {{ tx.address }}
                        </a>
                    </td>
                    <td>
                        <a target="_blank" style="color:black; text-decoration: none; border-bottom: 1px dotted black;" href="{% url 'raffleDetails' tx.raffle.id %}">
                        {{ tx.raffle }}
                        </a>
                    </td>
                    <td>
                        {{ tx.amount }}
                    </td>
                    <td>
                        {{ tx.amount|div:tx.raffle.ticketPrice}}
                    </td>
                    <td>
                        {{ tx.getDate }}
                    </td>
                </tr>
            {% empty %}
            <tr>
                <td colspan="5"> No transactions </td>
            <tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}