{% extends "base.html" %}
{% load humanize %}
{% load mathfilters %}


{% block style %}
  {{block.super}}
  <style type="text/css">
    .details {
      margin-top: 2%;
    }
  </style>
{% endblock style %}
{% block content %}
  <section style="margin-top: 160px">
    <div align="left" class="shadow" style="width: 80%; background-color: white; padding: 4%;">
      <div class="container" style="margin: ">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <h3>{{raffle.name}}</h3>
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 details">
                <b>Raffle Address:</b>
                <a style="color:black; text-decoration: none; border-bottom: 1px dotted black;" href="https://test.explorer.dashninja.pl/address/{{raffle.addressProject}}">
                    {{raffle.addressPrize}} <b>*</b>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12 col-12 details">
                <b>Draw Date:</b> {{raffle.getDate}}
              </div> 
              <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12 col-12 details">
                <b>Prize:</b> {{ prize }} tDash
              </div>
            </div>

            <div class="row">
              <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12 col-12 details">
                  <b>Ticket Price:</b> {{ raffle.ticketPrice | intcomma }} tDash
            
              </div> 
              <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12 col-12 details">
                  <b>Nro of tickets sold:</b> {{ raffle.ticketsSold }}
              </div>
            </div>
            <div class="row">
              <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 col-12 details">
                  <a class="btn btn-primary" href="#"
                           onclick="return abrir_modal('{% url "buyTicket" raffle.id %}')"> Buy tickets </a>
              </div> 
              <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 col-12 details">
                  <a href="#" class="btn btn-primary">See more details</a>
              </div>
            </div>
          </div>
        </div>
        <br><hr><br>
        <div id="description">
          {{raffle.description}}
          jamonaosjdaojsdjashdjahsdjasd
        </div>
      </div>
    </div>
         
        <!-- <br><br>
        <h2> Tickets Sold </h2>
        <div align="center" style="width: 60%">
          <table border="1" class="table" style="width: 50% !important">
            <thead id="table">
              <tr>
                <th>
                  Transaction ID
                </th>
                <th>
                  User
                </th>
                <th>
                  Amount
                </th>
                <th>
                  Tickets
                </th>
              </tr>
            </thead>
            <tbody>
            {% if raffle.transactions.all %}
              {% for tx in raffle.transactions.all %}
                <tr>
                  <td>
                    <a target="_blank" style="color:black; text-decoration: none; border-bottom: 1px dotted black;" href="https://test.explorer.dashninja.pl/tx/{{tx.address}}">
                      {{ tx.address }}
                    </a>
                  </td>
                  <td>
                    {{ tx.user }}
                  </td>
                  <td>
                    {{ tx.amount }}
                  </td>
                  <td>
                    {{ tx.amount|div:raffle.ticketPrice}}
                  </td>
                </tr>
              {% endfor %}
            {% else %}
            <tr>
              <td colspan="4" align="center">
                The raffle has no tickets sold
              </td>
            </tr>
            {% endif %}
            </tbody>
          </table>
        </div> -->
  </section>
  
{% endblock content %}