{% extends "base.html" %}

{% load mathfilters %}

{% block search %} active {% endblock search %}

{% block style %}
  {{block.super}}
  
    

    <!-- Custom Theme Style -->
    <!-- <link href="/static/build/css/custom.min.css" rel="stylesheet"> -->

{% endblock style %}



{% block content %}

<div class="container content">
  {% for raffle in activeRaffles %}
    <div class="shadow" style=" margin:10px;">
      <div class="card">
        <div class="row" style="margin:4%">
          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-12 col-12">
            <div class="row  align-items-center h-100">
              <div class="col-sm-1 col-1"></div>
              <div class="col-md-12 col-sm-5 col-5 ">
                <span class="chart" data-percent="{{raffle.getTimeLeft|mul:100|div:raffle.getDurationTimestamp}}" data-left="{{raffle.getTimeLeft}}">
                  <span class="percent">
                  </span>
                </span>
              </div>
              <div class="col-md-12 col-sm-5 col-5">
                <h5>Prize <b> {{raffle.totalPrize}} tDash</b></h5>
              </div>
              <div class="col-sm-1 col-1"></div>
            </div>
          </div>
          <div class="col-xl-7 col-lg-8 col-md-7 col-sm-12 col-12" >
            <div class="row align-items-center">
              <!-- <div class="col-sm-1 col-xs-1"></div> -->
              <div class="col-md-6 col-sm-12 col-12">
                <h5>{{raffle.name}}</h5>
              </div>  
              <div class="col-md-6 col-sm-12 col-12">
                <p>Ticket price: {{raffle.getPrice}} tDash</p>
              </div>  
              <!-- <div class="col-sm-1 col-xs-1"></div> -->
            </div>
            
            <p align="left">{{'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consectetur, libero quis ultrices mattis, eros dolor sollicitudin massa, cursus tempus lacus nisl non dolor. Phasellus leo velit, dignissim at vestibulum tempus, tincidunt eu est' | truncatechars:200}} </p>
          </div>
          <div class="offset-xl-0 col-xl-1 offset-lg- col-lg-8 offset-md-5 col-md-7 col-sm-12 col-12">
            <div class="row  align-items-center h-100" style="width: 100%">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <a class="btn btn-primary" style="margin-top: 1%" href="{% url 'raffleDetails' raffle.pk %}">Read more.</a>
                <button class="btn btn-success btn-raffle shadow" style="margin-top: 5px" 
                           onclick="return abrir_modal('{% url "buyTicket" raffle.pk %}')">
                  <i class="fas fa-ticket-alt"></i> Buy Tickets
                </button>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
  {% empty %}
    No active raffles
  {% endfor %}
</div>
 
{% endblock content %}


{% block scripts %}
  {{block.super}}

    <!-- Bootstrap -->
    <script src="/static/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- easy-pie-chart -->
    <script src="/static/vendors/jquery.easy-pie-chart/dist/jquery.easypiechart.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="/static/timebar/js/custom.js"></script>

{% endblock scripts %}
