{% extends "base.html" %}

{% block search %} active {% endblock search %}

{% block style %}
  {{block.super}}
  
    

    <!-- Custom Theme Style -->
    <!-- <link href="/static/build/css/custom.min.css" rel="stylesheet"> -->

{% endblock style %}



{% block content %}

<div class="container">
  {% for raffle in activeRaffles %}
    <div class="shadow" style="background-color: white; margin:10px;">
      <div class="row">
        <div class="col-md-4">
          <label> Prize </label>
          <h5>7.982 Dash</h5>
          <span class="chart" data-percent="73">
            <span class="percent"></span>
          </span>
        </div>
        <div class="col-md-4">
          <br>
          {{raffle.name}}
        </div>
      </div>
      
      
    </div>
  {% empty %}
    No active raffles
  {% endfor %}
</div>
 
{% endblock content %}


{% block scripts %}
  {{block.super}}
    <!-- jQuery -->
    <script src="/static/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/static/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- easy-pie-chart -->
    <script src="/static/vendors/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="/static/build/js/custom.js"></script>

{% endblock scripts %}
