{% extends "base.html" %}

{% load mathfilters %}

{% block search %} active {% endblock search %}

{% block style %}
  {{block.super}}
  
    

    <!-- Custom Theme Style -->
    <!-- <link href="/static/build/css/custom.min.css" rel="stylesheet"> -->

{% endblock style %}



{% block content %}
 
<div class="container content">
    <div class="row" style="margin-left:10px;">
        <div class="offset-md-5">
          <a class="btn btn-primary" style="margin-top: 1%" href="{% url 'createRaffle' %}"><i class="fas fa-plus"></i>&nbsp;Create Raffle</a>
        </div>
    </div>
  <div class="infinite-container">
    {% for raffle in numbers %}
      <div class="shadow infinite-item" style=" margin:10px;">
        <div class="card">
          <div class="row" style="margin-left:4%; margin-right:4%; margin-top: 1%; margin-bottom: 1%">
            <div class="col-xl-3 col-lg-4 col-md-5 col-sm-12 col-12">
              <div class="row  align-items-center h-100">
                <div class="col-sm-1 col-1"></div>
                <div class="col-md-12 col-sm-5 col-5">
                  <h5>Jackpot <b> {{raffle.TotalPrize}} tDash</b></h5>
                </div>
                <div class="col-sm-1 col-1"></div>
              </div>
            </div>
            <div class="col-xl-7 col-lg-8 col-md-7 col-sm-12 col-12" >
              <div class="row align-items-center">
                <!-- <div class="col-sm-1 col-xs-1"></div> -->
                <div class="col-md-6 col-sm-12 col-12">
                  <h5>{{raffle.name}}</h5>
                </div>  
                <div class="col-md-6 col-sm-12 col-12">
                  <p>Ticket sold: {{raffle.ticketsSold}} </p>
                </div>  
                <!-- <div class="col-sm-1 col-xs-1"></div> -->
              </div>
              
              <p align="left">{{raffle.description | truncatechars:200}} </p>
            </div>
            <div class="offset-xl-0 col-xl-1 offset-lg- col-lg-8 offset-md-5 col-md-7 col-sm-12 col-12">
              <div class="row  align-items-center h-100" style="width: 100%">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <a class="btn btn-primary" style="margin-top: 1%" href="{% url 'raffleDetails' raffle.pk %}">Read more.</a>
                </div>  
              </div>
            </div>
          </div>
        </div>
      </div>
    {% empty %}
      No active raffles
    {% endfor %}
  </div>
  {% if numbers.has_next %}
    <a class="infinite-more-link" href="?page={{ numbers.next_page_number }}"></a>
  {% endif %}
  <div class="loading" style="display: none;">
    <img src="/static/img/anima.gif" width="200px" height="150px">
  </div>
</div>
 
{% endblock content %}


{% block scripts %}
  {{block.super}}

    <!-- Bootstrap -->
    <script src="/static/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- easy-pie-chart -->
    <script src="/static/vendors/jquery.easy-pie-chart/dist/jquery.easypiechart.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="/static/timebar/js/custom.js"></script>
    <script src="/static/js/jquery.waypoints.min.js"></script>
    <script src="/static/js/infinite.min.js"></script>

   <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
        $(document).ready(init_EasyPieChart())
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
        $(document).ready(init_EasyPieChart())
      }
    });
  </script>

{% endblock scripts %}
