{% extends base %}

{%load humanize %}

{% block form %}
    {% if msg %}
        {{msg}}
    {% endif %}
    
    <br>
    {% block beforeForm %}
        
        
        
    {% endblock beforeForm %}

<div class="modal-dialog modal-md">
  <div class="modal-content {% if request.GET.modal != '1'%} shadow modal-margin {%endif%} ">
    <div class="modal-body">
    {% if request.GET.modal == '1'%}
        <button type="button" class="close" data-dismiss="modal">x</button>
    {% endif %}
       <div class="container-fluid bg-gray" id="accordion-style-1">
           <div class="container">
                <section>
                   <div class="row" align="center">
                        <div class="col-12 mx-auto">
                           <div class="accordion" id="accordionExample">
                                <form method="post" action="{%url 'signup' %}">
                                            {% csrf_token %}
                                    <div class="container" style="z-index:-1;">
                                        <h3 id="text" style="margin-bottom:25px;">Register
                                        </h3>
                                        <div class="omb_login">
                                            <div class="col-xs-12 col-sm-12"> 
                                                <div class="wrap-input100 validate-input">
                                                    <input class="input100" type="text" name="username" required="" id="id_username">
                                                    <span class="focus-input100" data-placeholder="Username"></span>
                                                </div>
                                                <div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
                                                  <input class="input100" type="text" name="email" id="id_email">
                                                  <span class="focus-input100" data-placeholder="Email"></span>
                                                </div>  
                                                   <div class="wrap-input100 validate-input" data-validate="Enter password">
                                                      <span class="btn-show-pass">
                                                        <i class="fa fa-eye"></i>
                                                      </span>
                                                      <input class="input100" type="password" name="password1" id="id_password1">
                                                      <span class="focus-input100" data-placeholder="Password"></span>
                                                   </div>

                                                   <div class="wrap-input100 validate-input" data-validate="Enter password">
                                                      <span class="btn-show-pass">
                                                        <i class="fa fa-eye"></i>
                                                      </span>
                                                      <input class="input100" type="password" name="password2" id="id_password2">
                                                      <span class="focus-input100" data-placeholder="Password Confirmation"></span>
                                                   </div>
                                                {% for field in form %} 
                                                    {% if field.errors %} 
                                                    <div class="alert-form alert-warning alert-dismissible fade show" role="alert">
                                                      <span>{{ field.errors }}</span>
                                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                      </button>
                                                    </div>
                                                    {% endif %}
                                                {% endfor %}
                                                </div>

                                            <div class="col-xs-12 col-sm-12" style="margin-top:-20px;">
                                                <p class="omb_forgotPwd">
                                                  Already have a user? <a href="/login/">login</a>
                                                </p>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="col-sm-6">
                                                    <button class="btn btn-lg btn-primary btn-block" type="submit" id="botton">Submit</button>
                                                </div>
                                            </div>     
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
  </div>
</div>    

    {% block afterForm %}
        
        
        
    {% endblock afterForm %}
{% endblock form %}